*{
    margin: 0;
    padding: 0;
}
.container{
    width: 300px;
    height: 400x;
    background-color: blue;
    overflow-y: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
}

.button{
    width: 300px;
}
.container h1{
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: white;
}